body {
    margin: 0;
    display: grid;
    place-content: center;
    height: 100dvh;
}

svg {}

path {
    fill: transparent;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-dasharray: 50;
    stroke-dashoffset: 100;
    animation: textAnimation 4s ease-in-out 1 forwards;
}

@keyframes textAnimation {
    100% {
        stroke-dashoffset: 0;
    }
}