body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner .content .title {
    font-size: 8em;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("https://cdn.pixabay.com/photo/2018/08/04/11/30/draw-3583548_1280.png");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url(ink.gif);
    mask-size: cover;
    mask-position: center;
}